[submodule "libs/range-v3"]
	path = libs/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/boost-cmake"]
	path = libs/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "libs/date"]
	path = libs/date
	url = https://github.com/HowardHinnant/date.git
[submodule "libs/libzmq"]
	path = libs/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "libs/zmqpp"]
	path = libs/zmqpp
	url = https://github.com/zeromq/zmqpp.git
