[submodule "libs/range-v3"]
	path = libs/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cmake/cotire"]
	path = cmake/cotire
	url = https://github.com/sakra/cotire.git
[submodule "libs/boost-cmake"]
	path = libs/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
